language: cpp

branches:
  only:
    - dev
    - stable

jobs:
  fast_finish: true
  include:
    - os: linux
      name: X86_64
      dist: jammy
    - os: linux
      name: S390X
      arch: s390x
      dist: jammy
    - os: linux
      name: PPC64
      arch: ppc64le
      dist: jammy
    - os: linux
      name: ARM64
      arch: arm64
      dist: jammy

addons:
  apt:
    packages:
       - python3-pip
       - python3-setuptools
       - ninja-build
       - qtbase5-dev
       - libgl1-mesa-dev

env:
  - INSTALL_PREFIX=$TRAVIS_BUILD_DIR/rizin-prefix

install:
  - pip3 install meson
  - git clone --depth 1 https://github.com/rizinorg/rizin
  - cd rizin && mkdir build && cd build
  - meson --prefix="$INSTALL_PREFIX" ..
  - ninja
  - ninja install
  - cd ../..

script:
  - mkdir build && cd build
  - cmake
      -DCMAKE_BUILD_TYPE=Release
      -DCMAKE_PREFIX_PATH="$TRAVIS_BUILD_DIR/rizin-prefix"
      -DCMAKE_INSTALL_PREFIX="$INSTALL_PREFIX"
      -DBUILD_CUTTER_PLUGIN=OFF
      -DBUILD_SLEIGH_PLUGIN=ON
      ..
  - make -j4
  - make install
  - export LD_LIBRARY_PATH="$INSTALL_PREFIX/lib:$INSTALL_PREFIX/lib/x86_64-linux-gnu:$LD_LIBRARY_PATH"
  - export PATH="$INSTALL_PREFIX/bin:$PATH"
  - export RZ_LIBR_PLUGINS="$INSTALL_PREFIX/share/rizin/plugins"
  - cd ../test
  - make
